main {
  position: relative;
}

.main-grey-triangle {
  width: 100%;
  height: 878px;
  position: absolute;
  background-color: #EBEBEB;
  top: -16vw;
  clip-path: polygon(0px 667px, 1520px 301px, 0px 0px);
}

.main-first {
  margin-bottom: 170px;
}

.main-first-text-title {
    color: #ff0000;
    font-size: 50px;
    margin-bottom: 26px;
    font-weight: 900;
}

.main-first-text {
  width: 770px;
  color: black;
  font-size: 24px;
  line-height: 160%;
}

.main-second {
  margin-bottom: 170px;
}

.main-second-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 160%;
  text-align: center;
  color: #FF0000;
  max-width: 1030px;
  margin-bottom: 8px;
}

.main-second-text {
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  vertical-align: top;
  max-width: 1030px;
}

.main-triangle-red {
  padding: 70px 25px;
  transform: rotate(11deg);
  width: 116%;
  margin-left: -47px;
  background: #ff0000;
  margin-bottom: 90px;
  margin-left: -150px;
}

.main-important-item {
  transform: rotate(-11deg);
}

.main-list-item {
  position: relative;
}

.main-list-item-number {
    position: absolute;
    font-size: 100px;
    color: #FF4343;
    font-weight: 900;
    line-height: 80px;
    top: -45px;
}

.main-list-item-text {
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: left;
    position: relative;
    z-index: 10;
    min-width: 308px;
    min-height: 86px;
    line-height: 140%;
}

.main-third {
  margin-bottom: 180px;
}


.main-third-text {
  font-size: 24px;
  line-height: 160%;
}

.main-second-bg {
  height: 70vw;
  position: absolute;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  top: -23vw;
  z-index: -1;
}

.main-bot-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-bot-list-item {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    min-height: 16px;
    min-width: 19px;
    background: red;
    transform: skew(-20deg);
    border-radius: 2px;
    top: calc(50% - 6px);
  }
}

.main-form {
  position: relative;
  padding-top: 11vw;
}

.main-form-red-line {
  height: 1220px;
  width: 100%;
  position: absolute;
  background-size: cover;
  top: -77px;
}

.main-form-grey-triangle {
    width: 650px;
    height: 1300px;
    position: absolute;
    background-size: cover;
    top: -160px;
    background: #E0E0E0;
    clip-path: polygon(650px 0px, 2px 1176px, 650px 1300px);
    right: 0;
    background-position: top;
}

.main-form-fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-fieldset-title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    max-width: 500px;
    margin-right: auto;
    margin-bottom: 40px;
    line-height: 35px;
}

.main-form-fieldset-input {
  position: relative;
  margin-bottom: 33px;
  width: 100%;
  input {
    width: 100%;
    list-style: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 40px;
    background: transparent;
    font-size: 14px;
    margin-bottom: 33px;
    &::placeholder {
      color: white;
    }
  }
  .enter-logo {
    position: absolute;
    top: 7px;
    left: 0;
  }
  .ok-logo {
    position: absolute;
    top: 7px;
    right: 0;
  }
}

.main-form-fieldset-button {
    @include button;
    padding: 30px 0;
    background: white;
    box-shadow: 2px 10px 20px rgba(194, 0, 0, 0.8);
    max-width: 500px;
    margin: 15px auto;
    border: none;
    span {
      @include button_span;
      color: red;
      font-size: 22px;
      line-height: 24px;
    } 
}

.fieldset-btn-desc {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.main-fourth {
    margin-top: 26vw;
    margin-bottom: 7vw;
}

.main-fourth-grey-triangle {
  border: 18vw solid transparent;
  border-left: 10vw solid #E0E0E0;
  border-top: 37vw solid #E0E0E0;
  position: absolute;
  left: 0;
  top: -28vw;
  z-index: -1;
}

.main-fourth-text {
  font-weight: 600;
  font-size: 42px;
  line-height: 160%;
  text-align: center;
  color: #FF0000;
}

.main-fourth-items {
    background-color: #ebebeb;
    padding: 60px 0;
    transform: rotate(10deg);
    width: 130%;
    margin-left: -250px;
}

.main-fourth-list-item {
  transform: rotate(-10deg);
    .main-fourth-list-item-img {
      margin-right: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    .main-fourth-list-item-text {
      font-size: 24px;
      line-height: 140.88%;
      font-weight: 600;
    }
  }    







