.col-lg-4.col-md-6.col-sm-6
    .main-catalog-item.d-flex.flex-column.justify-content-between
        .main-catalog-item-form
            .main-catalog-item-image
                img(src='./src/img/UE001YD001.png')
            .main-catalog-item-title UE001YD001
            .main-catalog-item-text Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр
            .main-catalog-item-bottom
                .main-catalog-item-bottom-form.d-flex.justify-content-between
                    .main-catalog-bottom-price.d-flex.flex-column.justify-content-between
                        span 63 718 руб.  
                        span 904 €  
                    .main-catalog-bottom-btn(type='button' data-toggle='modal' data-target='#carel-modal')
                        span Подробнее 
                        
                        