footer
    section.position-relative
        .footer-bg-girl(style='background-image: url(./src/img/footer-bg-girl.png)')
        .footer-bg-red(style='background-image: url(./src/img/footer-red-bg.png)')
        .container
            .row.justify-content-center.justify-content-xl-start
                .col-xl-5.col-lg-10.col-12
                    .footer-form.d-flex.flex-column.align-items-center
                        .footer-form-text Если у вас остались вопросы, мы с удовольствием на них ответим
                        .footer-form-input
                            input(type='text' placeholder='Ваше имя' name='name' id='name')
                            img.enter-logo(src='./src/img/name-enter-logo.png')
                            img.ok-logo(src='.src/img/ok-logo.png')
                        .footer-form-input
                            input(type='text' placeholder='Ваш телефон' name='phone' id='phone')
                            img.enter-logo(src='./src/img/name-enter-logo.png')
                            img.ok-logo(src='.src/img/Ellipse.png')
                        .footer-form-button
                                span Отправить заявку
                        .footer-form-btn-desc Ваши контактные данные в безопасности и не будут переданы 3-им лицам
            .row.justify-content-start
                .col-lg-2.col-sm-3.col-5
                    a.footer-link(href='#')
                        span Разработано
                        img(src='./src/img/meven-logo.png')
                .w-100       
                    .col-lg-3
                        .footer-link-text
                            span © 2019 CAREL. Все права защищены 
                            br 
                            span Политика конфиденциальности                 

