header
    section
        .header-bg.d-lg-block.d-none(style="background-image: url(./src/img/header-rectangle-removebg-preview.png)")
        .left-triangle
        .red-line.d-md-block.d-none
        .container 
            .row.header-first-row.justify-content-between 
                .col-lg-3.col-md-3.col-sm-4.col-5
                    .header-logo
                        img(class="img-logo" src='./src/img/carel_logo.png' alt='CAREL')
                .col-lg-3.text-right.col-md-3.col-sm-5.col-5
                    .phone-number
                        a.text-decoration-none.tell(href='#') +7 (965) 390-46-99
                    .phone-feedback-call    
                        a.rev-call(href="#") Обратный звонок
        .container                
            .row.justify-content-between
                .col-lg-6.col-md-6.col-sm-10
                    .header-bg-img
                        img.img-artic-main(src="./src/img/article123-removebg-preview.png" alt="Main image")
                .text-lg-right.text-md-right.text-sm-left.text-left.col-lg-6.col-md-6.col-12
                    .header-list.d-flex.flex-column.align-items-start
                        .header-title-text Увлажнители CAREL
                            +headerlist
                        .btn-chos-item
                            span Выбрать товар  

               
