<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Увлажнители Carel
    body
        #wrapper
            include ./mixin.pug
            include ./header.pug
            include ./main.pug
            include ./modal.pug
            include ./catalog.pug
            include ./main-certs.pug
            include ./footer.pug