main
    section
        .main-grey-triangle.d-lg-block.d-none
        .container.main-first
            .row
                .col-lg-6
                    .main-first-text-title Сервисный центр
                    .main-first-text Увлажнители воздуха Carel — это синоним качественной и надежной техники, способной прослужить на объектах различного назначения долгие годы.
    .container.main-second
        .main-second-title 3 важных составляющих
        .main-second-text длительной эксплуатации высокотехнологичного оборудования и сохранения его первоначальных свойств:
    section.main-triangle-red.position-relative
        .container.main-important
            .row.justify-content-center.align-items-center
                .col-lg-4.col-md-4.col-sm-8.main-important-item
                    .main-list-item
                        .main-list-item-number 1
                        .main-list-item-text Качественная техника
                .col-lg-4.col-md-4.col-sm-8.main-important-item
                    .main-list-item
                        .main-list-item-number 2
                        .main-list-item-text Постоянный надзор специалистов сервисной службы
                .col-lg-4.col-md-4.col-sm-8.main-important-item
                    .main-list-item
                        .main-list-item-number 3
                        .main-list-item-text Регулярное проведение профилактических работ
    section
        .container.main-third
            .row
                .col-lg-7
                    .main-third-text Своевременное сервисное обслуживание исключает вероятность поломки оборудования и выхода из строя всей системы увлажнения, что  абсолютно недопустимо в условиях объектов специального назначения, таких как:
    section.position-relative
        .main-second-bg.d-lg-block.d-none(style="background-image: url(./src/img/group_builder.png)")
        .container.main-bot
            .row.align-items-center.justify-content-lg-start.justify-content-center
                .col-lg-8.col-md-8
                    ul.main-bot-list
                        +mainbotlist
    section.main-form
        .main-form-red-line(style="background-image: url(./src/img/main-form-red-line.png)")
        .main-form-grey-triangle.d-xl-block.d-none
        .container
            .row.justify-content-xl-start.justify-content-center
                .col-xl-5.col-lg-8.col-md-8
                    .main-form-fieldset
                        .main-form-fieldset-title Хотите исключить вероятность поломки оборудования? Мы поможем вам в этом!
                        .main-form-fieldset-input
                            input(type='text' placeholder='Ваше имя' name='name' id='name')
                            img.enter-logo(src='./src/img/name-enter-logo.png')
                            img.ok-logo(src='.src/img/ok-logo.png')
                        .main-form-fieldset-input
                            input(type='text' placeholder='Ваш телефон' name='phone' id='phone')
                            img.enter-logo(src='./src/img/name-enter-logo.png')
                            img.ok-logo(src='.src/img/Ellipse.png')
                        .main-form-fieldset-button
                                span Отправить заявку
                        .fieldset-btn-desc Ваши контактные данные в безопасности и не будут переданы 3-им лицам 
    section.position-relative
        .main-fourth-grey-triangle
        .container.main-fourth
            .row.justify-content-center
                .col-lg-7
                    .main-fourth-text.text-center Так же у нас вы можете приобрести оригинальные запасные части для увлажнителей CAREL
    section.main-fourth-items
        .container  
            .row.justify-content-between
                .col-xl-3.col-lg-4.col-md-12.col-12  
                    .main-fourth-list-item.d-flex.justify-content-center.align-items-center
                        .main-fourth-list-item-img 
                            img(src='./src/img/cost-logo.png')              
                        .main-fourth-list-item-text Низкие цены
                .col-xl-3.col-lg-4.col-md-12.col-12        
                    .main-fourth-list-item.d-flex.justify-content-center.align-items-center
                        .main-fourth-list-item-img 
                            img(src='./src/img/hands-logo.png')              
                        .main-fourth-list-item-text Всегда есть в наличии
                .col-xl-3.col-lg-4.col-md-12.col-12        
                    .main-fourth-list-item.d-flex.justify-content-center.align-items-center
                        .main-fourth-list-item-img 
                            img(src='./src/img/truck-logo.png')              
                        .main-fourth-list-item-text Быстрая доставка      
                                               


                                






        

