section.main-certs.position-relative
    .container
        .row
            .col-lg-7
                .main-certs-title Отзывы наших клиентов
                .main-certs-text Ежегодно мы оказываем сервисные услуги более 100 организациям на территории РФ. Имея значительный опыт и знание особенностей оборудования, сертифицированные специалисты, выполняют полный комплекс услуг по контролю и сервисному обслуживанию систем увлажнения воздуха на объектах различного уровня сложности.     
        .owl-images.owl-carousel.owl-theme.owl-loaded
            +carousel                                                        
                               

                        
               
